# Prerequisites
* Programa code-blocks ou qualquer outro que compile linguagem C.

# Object files
* .c

# Linker output
*

# Precompiled Headers
*

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*

# Executables
*.exe

# Debug files
*

# Kernel Module Compile Results
*.cmd
